@media screen and (min-width: 891px) and (max-width: 1140px){

  .side-bar{
    width: 80px;
  }
  aside li{
    flex-direction: column;
    gap: 5px;
  }

  div.widget:nth-child(2)
  li:nth-child(2),
  div.widget:nth-child(2)
  li:nth-child(3),
  div.widget:nth-child(2)
  li:nth-child(4),
  div.widget:nth-child(2)
  li:nth-child(5),
  div.widget:nth-child(2)
  li:nth-child(6),
  div.widget:nth-child(3),
  div.widget:nth-child(4){
    display: none;
  }

  .widget{
    padding: 0;
    border: white;
  }

  .play-list-item{
    width: calc((100% / 3) - 10px);
  }


  .play-list-item:nth-child(7),
  .play-list-item:nth-child(8){
    display: none;
  }
}

@media screen and (min-width: 510px) and (max-width: 890px){

  nav  ul{
    gap: 10px;
  }

  .side-bar{
    width: 80px;
  }
  aside li{
    flex-direction: column;
    gap: 5px;
  }

  div.widget:nth-child(2)
  li:nth-child(2),
  div.widget:nth-child(2)
  li:nth-child(3),
  div.widget:nth-child(2)
  li:nth-child(4),
  div.widget:nth-child(2)
  li:nth-child(5),
  div.widget:nth-child(2)
  li:nth-child(6),
  div.widget:nth-child(3),
  div.widget:nth-child(4){
    display: none;
  }

  .widget{
    padding: 0;
    border: white;
  }

  .play-list-item{
    width: calc((100% / 2) - 10px);
  }


  .play-list-item:nth-child(7),
  .play-list-item:nth-child(8){
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 509px){


  nav .profile-image {
    width: 120px;
  }
  nav  ul{
    gap: 0;
  }

  aside {
    display: none;
  }

  nav .search input{
    display: none;
  }

  nav .search div{
    justify-content: flex-end;
    flex-grow: 1;
    background: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
  }

  nav .search .audio{
    margin: 0;
  }

  .play-list{
    flex-direction: column;
    justify-content: center;
  }

  .play-list-item{
    width: 400px;
  }

  .card-body img {
    width: 35px;
  }

  .card-body .info h3{
    font-size: 20px;
  }

  .card-body .info p{
    font-size: 12px;
  }
}